* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(4, 4, 69);
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

header {
    padding: 10px;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid aqua;

}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;

}

header nav ul {
    display: flex;
    list-style: none;

}

header nav ul li a {
    padding: 40px 25px;
    display: block;
    color: aqua;
    text-decoration: none;
    font-size: 15px;
}




.profil {
    position: relative;
    padding-left: 0;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.profil-image {
    right: 0px;
    top: -50px;
    position: absolute;
    width: 100px;
    border-radius: 10px;
}

.nom {
    position: absolute;
    right: 150px;
    background-color: rgb(4, 4, 69);
    padding-top: 1.20rem;

}

.presentation {
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: rgb(4, 4, 69);
    padding-top: 12%;
    padding-left: 1.20rem;
    padding-bottom: 1.20rem;
    text-align: center;
    font-size: 1.25rem;
    border-bottom: 1px solid aqua;


}

.profession {
    color: white;
    font-size: 1.20rem;
    font-weight: bold;
    background-color: rgb(4, 4, 69);

}

h1 {
    background-color: rgb(4, 4, 69);
    color: white;
    margin: 0;
}

.competences {
    padding-top: 1.25rem;
    background-size: cover;
}

.competences ul {
    font-size: 1.70rem;
    margin-left: 50%;
    color: white;

}

.competences ul li {
    padding-top: 2rem;
    padding-bottom: 1.75rem;
}

h2 {
    margin-left: 25%;
    color: aqua;
    font-size: 1.75rem;
    padding-top: 0.063rem;
    padding-top: 5rem;

}

.tables {
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;

}

table,
td {
    border: 2px solid;
    border-color: aqua;
    font-weight: 200;
    color: white;
    border-spacing: 3rem;
    text-align: center;


}

.formations {
    font-size: 1.563rem;
}

.experiences {
    font-size: 1.563rem;
}




.tables th {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: black;
    font: bold;
    border: 2px solid;
    border-color: aqua;
    text-align: center;
    padding: 0.75rem;

}

.tables td {
    padding: 0.20rem;
}

table caption {
    color: aqua;
    padding-top: 20%;
    padding-bottom: 3%;
    font-size: 1.75rem;

}


.hob {
    background-color: rgb(4, 4, 69);
}

.ph {
    font-size: 1.3rem;
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: rgb(4, 4, 69);
    padding-top: 10%;
    font-size: 30px;
    text-align: center;

}


h3 {

    color: white;
    margin-left: 37%;
    padding-top: 10%;
    font-weight: bold;
    font-size: 30px;
    color: aqua;

}

.hob ol {
    font-size: 25px;
    color: white;
    margin-left: 50%;
}

.hob ol li {
    padding-top: 40px;
    padding-bottom: 20px;

}

iframe {
    width: 560px;
    height: 315px;
    margin-left: 35%;
    border: 2px solid aqua;
    padding-top: 3rem;
}


a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.b {

    margin-left: 1.5rem;
    border: 2px solid aqua;
}

.b-1 {

    justify-content: center;
    margin-right: 1.5rem;
    border: 2px solid aqua;

}


.contact {
    padding-top: 10%;
    margin: 3rem;


}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid aqua;
    border-radius: 4px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   
}

input[type=email] {
    border: 2px solid aqua;
    border-radius: 4px;

}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid aqua;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.email-1 {
    display: grid;

}

.choose {
    display: block;
    margin-bottom: 12px;
    font-size: 22px;
    padding-top: 5rem;
    color: #f8f8f8;

}



.choose-1 {
    display: block;
    margin-bottom: 12px;
    font-size: 22px;
    user-select: none;
    padding-top: 5rem;
    color: #f8f8f8;

}



.sub {

    display: flex;
    margin-left: 50%;
    justify-content: space-between;
    margin-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    


}

button[type=submit] {
    background-color: #f8f8f8;
    border: 2px solid aqua;
    color: rgb(4, 4, 69);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;


}


.contact {
    background-color: rgb(4, 4, 69);
    color: aqua;
}

.contact-m {
    background-color: rgb(4, 4, 69);
    color: white;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    line-height: 3rem;
    padding-top: 3rem;


}

.mail {
    margin-left: 5%;
}

.linkedin {
    margin-left: 5%;
}

.portable {
    margin-left: 5%;
}

.adresse {
    margin-left: 5%;
}

.p-0 {
    font-size: 4rem;
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: rgb(4, 4, 69);
    padding-top: 5rem;
    text-align: center;

}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;




}

.footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}

.foot {
    word-spacing: 2px;
}

.copyright {
    word-spacing: 2px;
}
.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}
.button a{
    color: #f8f8f8;

}